@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');

.message_backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: inline;
  font-family: 'Courier Prime', monospace;
  font-weight: 800;
  z-index: 1;
}

.message_modal {
  font-family: 'Courier Prime', monospace;
  position: fixed;
  background-color: white;
  height: 300px;
  top: 30vh;
  left: 20%;
  width: 60%;
  border-radius: 10px;
  text-align: center;
  z-index: 1;
}

.message_modal h1 {
  color: var(--primary-dark-color);
  margin-top: 20px;
}

.message_modal h5 {
  color: black;
}
.message_modal h4, h3 {
  padding: 20px;
  color: black
}

.emotes {
  font-size: 30px;
}

.fix_button {
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: rgb(39, 159, 39);
  color: white;
  border-radius: 4px;
  transition: all 0.7s;
}

.disconnect_button {
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: rgb(159, 39, 39);
  color: white;
  border-radius: 4px;
  transition: all 0.7s;
}

.fix_button:hover {
  background-color: rgb(27, 105, 27);
}

.emphasize {
  color: var(--primary-dark-color);
}

.emphasize_price {
  color: var(--primary-dark-color);
  text-decoration: underline;
}