.container {
    /* height: 150px; */
    width: 100%;
    background: var(--card-primary-dark);
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 85%;
    /* background-color: red; */
    margin: 0 auto;
    font-size: 3em;
    color: var(--primary-dark-color);
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
}

.connect_wallet {
    font-size: 10px;
    border: none;
    border-radius: 20px;
    padding: 0px 20px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.08rem;
    background: var(--primary-dark-color);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.wallet_connected {
    border: none;
    background-color: transparent;
}

.wallet_connect_success {
    width: 30%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_address {
    font-size: 20px;
    color: white;
    padding-top: 16px;
}