.side_card {
  background-color: transparent;
  padding: 20px;
  border-radius: 7px;
}

.side_card h4 {
    /* margin-top: 10px; */
    margin-bottom: 20px;
    color: var(--primary-dark-color);
    font-weight: 800;
}
h6 {
  color: var(--primary-dark-color);
  font-weight: 800;
}

.top_posts {
  list-style: none;
  counter-reset: item;
}
.top_posts li {
  counter-increment: item;
  transition: all 0.6s;
  border-radius: 4px;
  padding: 5px;
}
.top_posts li:before {
  content: counter(item);
  font-size: 2em;
  /* color: white; */
  text-decoration: none;
}

.top_posts li:hover {
    /* text-decoration: underline; */
    translate: 10px 0px;
    background-color: white;
    color: black;
}

span, p {
    color: grey;
}

.side_card hr {
  color: white;
}

.side_card a:hover {
  text-decoration: none;
}